*{
  box-sizing: border-box;
}
h1{
  margin-top: 12px;
}
body { padding-top: 80px; }
.navbar-fixed-top{
  position: absolute;
  z-index: 20000;
}
div.soto.container-fluid{
  margin-top: 0px;
}
@media ( min-width: 920px ) {
  #banner {
    min-height: 100px;
    border-bottom: none;
  }
  .bs-docs-section {
    margin-top: 8em;
  }
  .bs-component {
    position: relative;
  }
  .bs-component .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
  }
  .bs-component .modal-dialog {
    width: 90%;
  }
  .bs-component .popover {
    position: relative;
    display: inline-block;
    width: 220px;
    margin: 20px;
  }
  .nav-tabs {
    margin-bottom: 15px;
  }
  .progress {
    margin-bottom: 10px;
  }
  .padd{
    width:950px;
    margin:auto;
  }
  .navbar-fixed-top{
    position: fixed;
  }
}

h3:not(.link-h3):not(.tab-h3):not(.sentence-h3){
  padding: .25em 0 .25em .75em;
  border-left: 6px solid #48d1cc;
}
.logo img{
  width:50%;
  min-width: 255px;
  margin-top: 20px;
}
.margin-top{
  margin-top:20px;
}
.head-box{
  position: absolute;
  z-index: 20000;
}

.bigfont-size{
  font-size: 40px;
}
.marg{
  margin-bottom:10px;
  margin-top:10px;
}

.top{
  font-size:30px;
  color:#e6855e;
  font-weight:bold;
}
.soto{
  background-color:#ffffff;
  box-shadow:1px 1px 2px;
  padding-bottom: 40px;
}
p.gazo img{
  width:100%
}
#button-t{
  padding-top: 50px;
}

#button-t ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

#button-t li{
  display: inline;
  padding: 0;
  margin: 0;
}

#button-t li a{
  display: block;
  border: 1px solid #9F99A3 ;
  padding: 3px 10px;
  text-decoration: none;
  width: 200px;
  height: 54px;
  margin: 2px 0px;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  outline: none;
  font-size: 24px;
  background-color: #333;
  color: #fff;
}
.name:after{
  content: "";
  display:block;
  clear:both;
}
@media screen and (min-width: 769px){
  .content{
    padding: 20px 20px 30px 20px;
  }
  .gif{
    width:90%;
    height:90%;
    margin:auto;
    display:block;
    padding: 1em;
  }
  .gif img{
    width:90%;
    height:90%;
    margin:auto;
    margin-top: 3px;
  }
}
.member{
  clear: left;
  margin-bottom: 20px;
}
@media ( min-width: 640px ) {
  .member img{
    width:200px;
    height:320px;
    float:left;
    margin-bottom: 20px;
    margin-top:17px;
  }

}
@media ( min-width: 0px ) {
  .member img{
    width:200px;
    height:320px;
    clear: left;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  .gif img{
    width:100%;
    height:100%;
    margin:auto;
    margin-top: 3px;
  }
}
.member ul{
  padding-left: 0px;
}
.member li{
  list-style: none;
}
.Name{
  padding-top: 1px;
  padding-bottom:5px;
}
.responsible{
  font-size: 20px;
  color:#6699FF;
  padding-bottom:5px;
}
.a{
  background-color: #f8f8f8;
  padding-top:20px;
  padding-bottom:55px;
}

.link{
  background-color: #f8f8f8	;
  margin-bottom:10px;
  padding-bottom:10px;
  padding-top:1px;
}

.link h3{
  padding-left:10px;
  padding:auto;
}
.link p{
  padding-left:10px;
}
.link-margin{
  margin-bottom: 30px;
}
.navbar-sns{
  float:left;
}
.share-btn > ul{
  position: relative;
  float: right;
  padding: 0;
  margin: 0;
  list-style: outside none none;
}
.social{
  padding: 5px 0;
}
.share-btn {
  position: relative;
  padding: 5px 0;
  margin: 0 auto !important;
  overflow: hidden;
}
.share-btn li{
  float: left;
  list-style:none;
  margin-left:20px;
}
.clear{
  clear:left;
}

.tab{
  float:left;
  text-align:center;
}
@media ( min-width: 0px ){
  .tab{
    width:100%;
    border-radius: 5px;
    border-top: 2px solid #DDD;
    border-left: 2px solid #DDD;
    border-right: 2px solid #BBB;
    border-bottom: 2px solid #BBB;
    margin:3px;
    opacity:0.9;
  }
  .jxgbox{
    min-width:460px;
    margin:auto;
    width:90%;
    height:60vh;
  }
  .content{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media ( min-width: 640px ){
  .menu-bar{
    margin: auto;
  }
  .jxgbox{
    margin:auto;
    width:80%;
    height:60vh;
  }
  .tab{
    text-align:center;
    width:48%;
    border-top: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
    opacity:0.9;
  }
}
.color-1{
  background-color:#98FB98;
}
.color-2{
  background-color:#7FFFD4;
}
.color-3{
  background-color: #B0E0E6;
}
.color-4{
  background-color: #ADD8E6;
  margin-bottom: 30px;
}
.tab:hover {
  opacity:1;
  font-weight: bold;
}
@media (min-width:580px){
.RSA {
  margin: auto;
  text-align: center;
  padding-bottom: 10px;
 }
}
@media (max-width:580px){
  .RSA img{
    width: 100%;
    padding-bottom: 10px;
  }
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "―";
  text-indent: -5px;
}
table.tablestyle {
	border-collapse: separate;
	border-spacing: 1px;
	text-align: center;
	line-height: 1.5;
  margin: auto;
}
table.tablestyle th {
  text-align: center;
	width: 175px;
	padding: 5px;
	font-weight: bold;
	vertical-align: top;
	color: #fff;
	background: #036;
}
table.tablestyle td {
	width: 175px;
	padding: 5px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	background: #eee;
}
@media (max-width: 500px) {
    .table-scroll {
        overflow-x: scroll;
    }
}
.theory{
  padding-top: 30px;
  padding-bottom: 20px;
  border-top: 1px dashed #666666;
  border-bottom: 1px dashed #666666;
}
#page-top {
    position: fixed;
    bottom: 10px;
    right: 20px;
    font-size: 77%;
    z-index: 50000;
}
#page-top a {
    background: #0033CC;
    text-decoration: none;
    color: #fff;
    width: 90px;
    padding: 10px 0;
    text-align: center;
    display: block;
    border-radius: 5px;
}
#page-top a:hover {
    text-decoration: none;
    background: #0066FF;
}
@media(max-width:950px){
  .none{
    display: none;
  }
}
@media(min-width:951px){
  .small{
    display: none;
  }
}
.logimage{
  text-align: center;
}
.logimage img{
  max-width: 699px;
    width:100%;
}
.block {
    margin-top: 40px;
    margin-bottom: 20px;
    position: relative;
    padding: 20px;
    color: #fff;
    background: #E69300;
}

.block2 {
    margin-bottom: 20px;
    position: relative;
    padding: 20px;
    color: #fff;
    background: #008000;
}
.block3 {
    margin-bottom: 40px;
    position: relative;
    padding: 20px;
    color: #fff;
    background: #BBB004;
}
p.log-1{
  text-align: center;
}
p.log-1 img{
  max-width: 453px;
  width:100%;
}
