h3:not(.link-h3):not(.tab-h3){
  padding: .25em 0 .25em .75em;
	border-left: 6px solid #48d1cc;
}
.logo img{
  width:50%;
  margin-top: 20px;
}
.margin-top{
  margin-top:20px;
}
.head-box{
  position: absolute;
  z-index: 20000;
}

.bigfont-size{
  font-size: 40px;
}
.marg{
  margin-bottom:10px;
  margin-top:10px;
}

.top{
  font-size:30px;
  color:#e6855e;
  font-weight:bold;
}
.soto{
  background-color:#ffffff;
  box-shadow:1px 1px 2px;
  border:1px solid #000;
  margin-top:10px;
  margin-bottom:10px;
}
p.gazo img{
  width:100%
}
#button-t{
  padding-top: 50px;
}

#button-t ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

#button-t li{
  display: inline;
  padding: 0;
  margin: 0;
}

#button-t li a{
  display: block;
  border: 1px solid #9F99A3 ;
  padding: 3px 10px;
  text-decoration: none;
  width: 200px;
  height: 54px;
  margin: 2px 0px;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  outline: none;
  font-size: 24px;
  background-color: #333;
  color: #fff;
}
.name:after{
  content: "";
  display:block;
  clear:both;
}
.content{
  padding: 20px 20px 30px 20px;
}
.member{
  clear: left;
  margin-bottom: 20px;
}
  @media ( min-width: 640px ) {
    .member img{
    width:200px;
    height:250px;
    float:left;
    margin-bottom: 20px;
    margin-top:17px;
  }
}
@media ( min-width: 0px ) {
  .member img{
  width:200px;
  height:250px;
  clear: left;
  margin-bottom: 20px;
  margin-right: 20px;
 }
}
.member ul{
  padding-left: 0px;
}
.member li{
  list-style: none;
}
.Name{
  padding-top: 1px;
  padding-bottom:5px;
}
.responsible{
  font-size: 20px;
  color:#6699FF;
  padding-bottom:5px;
}
.a{
  background-color: #f8f8f8;
  padding-top:20px;
  padding-bottom:55px;
}

.link{
  background-color: #f8f8f8	;
  margin-bottom:10px;
  padding-bottom:10px;
  padding-top:1px;
}

.link h3{
  padding-left:30px;
  padding:auto;
}
.link p{
  padding-left:30px;
}
.link-margin{
  margin-bottom: 30px;
}
.navbar-sns{
  float:left;
}
.jxgbox{
  margin:auto;
}
.share-btn > ul{
  position: relative;
  float: right;
  padding: 0;
  margin: 0;
  list-style: outside none none;
}
.social{
  padding: 5px 0;
}
.share-btn {
  position: relative;
  padding: 5px 0;
  margin: 0 auto !important;
  overflow: hidden;
}
.share-btn li{
  float: left;
  list-style:none;
  margin-right:20px;
}
.clear{
  clear:left;
}
.gif{
  width:93%;
  height:93%;
  margin:auto;
  display:block;
  border: 1px solid #003399;
  border-radius: 4px;
  padding: 1em;
}
.gif img{
  width:88%;
  height:88%;
  margin:auto;
  margin-top: 3px;
}
.tab{
  float:left;
  text-align: center;
}
  @media ( min-width: 0px ){
    .tab{
    width:100%;
    border-radius: 5px;
    border-top: 3px solid #DDD;
    border-left: 3px solid #DDD;
    border-right: 3px solid #BBB;
    border-bottom: 3px solid #BBB;
    margin:5px;
    padding:1px;
    opacity:0.9;
  }
}
@media ( min-width: 640px ){
  .tab{
  width:48%;
  border-radius: 10px;
  border-top: 3px solid #DDD;
  border-left: 3px solid #DDD;
  border-right: 3px solid #BBB;
  border-bottom: 3px solid #BBB;
  padding:1px;
  opacity:0.9;
}
}
.color-1{
  background-color:#98FB98;
}
.color-2{
  background-color:#7FFFD4;
}
.color-3{
  background-color: #B0E0E6;
}
.color-4{
  background-color: #ADD8E6;
  margin-bottom: 30px;
}
.tab:hover {
	opacity:1;
  font-weight: bold;
}
