@media (min-width: 640px ) {
.long-Sentence {
  clear: left;
    margin: auto;
    padding: 3em;
    position: relative;
    width:100%;
    background-color:#F6F5F4;
  }
}
@media ( max-width: 640px ) {
  .long-Sentence {
     padding-top: 30px;
      padding: 1em;
      margin: auto;
      position: relative;
      width:100%;
      border-top: 1px solid #EEEEEE;
      border-bottom: 1px solid #EEEEEE;
      background-color:#F6F5F4;
    }
  }

.long-Sentence h1{
  font-weight: 900;
  text-align: left;
  color: #777777;
}
.long-Sentence ul{
  padding:0;
}

.long-Sentence li{
  list-style-type: none;
}

.menu{
  font-weight: 900;
  color: #CCCCCC;
  margin-left: 18px;
}
